<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VueJS Monster Game</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div id="app">
        <section class="section">
            <div class="container">
                <div class="box columns">
                    <div class="column">
                        <h1 class="title has-text-centered">You</h1>
                        <div class="healthbar-container">
                            <div :class="playerClasses" :style="{width: playerHealth + '%'}"></div>
                            <div class="healthpoints">{{ playerHealth }} HP</div>
                        </div>
                    </div>
                    <div class="column">
                        <h1 class="title has-text-centered">Monster</h1>
                        <div class="healthbar-container">
                            <div :class="monsterClasses" :style="{width: monsterHealth + '%'}"></div>
                            <div class="healthpoints">{{ monsterHealth }} HP</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <div class="box">
                    <div v-if="gameState !== gameStates.IN_PROGRESS" class="column has-text-centered">
                        <h1 v-if="gameState === gameStates.WON || gameState === gameStates.LOST" class="has-size-1 has-text-black is-uppercase has-text-weight-bold">
                            YOU {{ gameState }}!
                        </h1>
                        <button @click="startGame" class="button is-primary is-large">
                            {{ gameState === gameStates.MENU ? 'Start Game' : 'Restart' }}
                        </button>
                    </div>
                    <!-- Battle Commands -->
                    <div v-else class="level buttons are-medium">
                        <button @click="playerAttack" class="button is-danger">Attack</button>
                        <button @click="playerSpecialAttack" class="button is-warning">Special Attack</button>
                        <button @click="playerHeal" class="button is-success">Heal</button>
                        <button @click="giveUp" class="button">Give Up</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <!-- Battle Log-->
                <div class="box columns is-multiline">
                    <template v-for="log in battleLog">
                        <!-- Player -->
                        <div v-if="log.agent === agents.PLAYER" class="column is-12 has-text-centered has-background-info has-text-black-bis">
                            You {{ log.damage > 0 ? 'healed' : 'attacked' }} {{ log.target === agents.MONSTER ? 'the monster' : 'yourself' }} for {{ Math.abs(log.damage) }} points
                        </div>
                        <!-- Monster -->
                        <div v-if="log.agent === agents.MONSTER" class="column is-12 has-text-centered has-background-danger has-text-white-ter">
                            The monster attacked you for {{ Math.abs(log.damage) }} points
                        </div>

                    </template>
                </div>
            </div>
        </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>